[doris]
host = localhost
query_port = 6937
http_port = 5937
user = root
password = 
db_name = cocoindex_demo
table_name = document_embeddings

[embedding]
# Supported types: openrouter
type = openrouter
model = qwen/qwen3-embedding-8b
embed_dim = 4096
base_url = https://openrouter.ai/api/v1
api_key = ""

[llm]
# Supported types: openai
type = openai
model = deepseek-v3-1-terminus
api_key = xxxx
base_url = https://xxxx
temperature = 0.2

[docs]
doc_root = /mnt/disk4/hezhiqiang/code/doris-website/docs/ai

[app]
# Supported languages: zh, en
language = en
